.div {
display: grid;
  grid-template-columns: 10em 10em 10em;
  grid-template-rows: 10em 10em 10em 10em;
  gap: 14px 14px;
  grid-template-areas:
    "1 2 3"
    "4 5 6"
    "7 8 9"
    ". . .";
}

.pulse-animation { grid-area: 1; }
.fill-animation {grid-area: 2}
.opacity-animation {grid-area: 3}
.translate-animation {grid-area:4}
.rotate-animation {grid-area:5}
.scale-animation {grid-area: 6}
.transition-animation {grid-area: 7}
.reveal-animation {grid-area: 8}
.lottie-animation {grid-area: 9}
