.success {
    background-color: green;
    animation-name: success--animation;  
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.submit {
    background-color: grey;
}

.loading {
    background-color: blue;
    animation-name: loading--animation;  
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.buttonWrapper {
    align-items: center;
    height: 40px;
    width: 100px;
    color: white;
    border-width: 0px;
    display: flex;
}

.spinnerSVG{
    margin-right: 5px;
}
  

@keyframes circle--animation {
    0% {
        stroke-dashoffset: 60;
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        stroke-dashoffset: 276;
    }
    75% {
        transform: rotate(280deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.circleSVG {
    stroke-linecap: round;
    transform-origin: 50% 50%;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-name: circle--animation;
    animation-iteration-count: infinite;
}

@keyframes loading--animation {
    0%{
        background-color:   grey;
    }
    100% {
        background-color: blue;
    }
}

@keyframes success--animation {
    0%{
        background-color:   blue;
    }
    100% {
        background-color: green;
    }
}