.element {
    width: 50%;
    height: 50%;
    animation: translate 5s infinite;
    animation-timing-function: ease-out; 
    animation-direction: alternate;
    background-color: #772E25;
  }
  
  @keyframes translate {
    0% {
      transform: rotate(0deg);
    }
   
    100% {
      transform: rotate(365deg);
    }
  }